name: Docker Publish

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

    
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

   
      - name: Build Docker image
        run: |
          # Tag con nome repo e versione (da tag o fallback "latest")
          IMAGE_TAG=${GITHUB_REF##*/} # se push su tag, prende il tag v1.2.1
          if [[ "$IMAGE_TAG" == "main" ]]; then
            IMAGE_TAG="latest"
          fi
          docker build -t ghcr.io/${{ github.repository_owner }}/event_horizon:$IMAGE_TAG .

      
      - name: Push Docker image
        run: |
          IMAGE_TAG=${GITHUB_REF##*/}
          if [[ "$IMAGE_TAG" == "main" ]]; then
            IMAGE_TAG="latest"
          fi
          docker push ghcr.io/${{ github.repository_owner }}/event_horizon:$IMAGE_TAG
