name: Docker Publish


on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3


      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build and Push Docker image
        run: |
          # Determina il tag da GitHub Ref
          IMAGE_TAG=${GITHUB_REF##*/}
          if [[ "$IMAGE_TAG" == "main" ]]; then
            IMAGE_TAG="latest"
          fi

          # Trasforma tutto minuscolo per Docker
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')

          # Build e push
          docker build -t ghcr.io/$OWNER/event_horizon:$IMAGE_TAG .
          docker push ghcr.io/$OWNER/event_horizon:$IMAGE_TAG
